body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url("/images/temple-bg.jpg");
  background-size: cover;
  background-position: center;
}

.login-box {
  width: 380px;
  background: rgba(255,255,255,0.92);
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  text-align: center;
}

.login-box h1{
  font-size:38px;
  margin-bottom:5px;
}

.subtitle{
  margin-bottom:25px;
  color:#f5f5f5;
}

.login-box input{
  width:100%;
  padding:14px;
  margin:12px 0;
  border:none;
  outline:none;
  border-radius:10px;
  background:rgba(255,255,255,.9);
  font-size:16px;
}

.login-box input:focus {
  outline: none;
  border: 1px solid #ff6600;
}

.show-password {
  text-align: right;
  color: #ff6600;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 15px;
}

.login-box button{
  width:100%;
  padding:14px;
  margin-top:15px;
  border:none;
  border-radius:10px;
  background:#ff9800;
  color:white;
  font-size:18px;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

.login-box button:hover{
  background:#e68900;
  transform:translateY(-2px);
}

.login-box button:hover {
  background: #e65c00;
}

.login-box {
  width: 400px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255,255,255,0.3);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  text-align: center;
  color: white;
}

.register-link {
  margin-top: 20px;
}

.register-link a {
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}


.temple-icon{
    font-size:60px;
    margin-bottom:10px;
}

.login-box{
    animation:popup .8s ease;
}

@keyframes popup{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

.footer-text{
    margin-top:25px;
    color:white;
    font-size:14px;
}


.about-section{
    padding:70px 40px;
    background:#fff;
    text-align:center;
}

.about-section h2{
    font-size:40px;
    color:#ff6b00;
    margin-bottom:20px;
}

.about-section p{
    max-width:900px;
    margin:auto;
    color:#555;
    line-height:1.8;
    font-size:18px;
}

.about-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    margin-top:50px;
}

.about-card{
    background:#fff8f0;
    padding:30px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.about-card:hover{
    transform:translateY(-8px);
}

.about-card h3{
    color:#ff6b00;
    margin-bottom:15px;
}

.admin-btn{
    margin-top:10px;
    background:#374151;
}

.admin-btn:hover{
    background:#1f2937;
}